#q3,
#q9,
#q11,
#q15 {
    display: none;
}

.q3bg {
    position: fixed;
    inset: 0;
    background-image: url("/imgs/q41/bg.png");
    background-size: cover;
}

.q3herbert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("/imgs/q4/herbertA.png");
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: url("/imgs/grabby.png"), auto;
}

.q3label {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "comic sans ms", sans-serif;
    font-size: 35px;
    background-color: #5739ff;
    background-image: linear-gradient(#cc4aff, #815eff);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 20px #6e4dff6c;
    font-weight: bolder;
    pointer-events: none;
}

.q9img1,
.q9img2 {
    border: 6px solid #ff510036;
    border-radius: 5px;
    box-shadow: 0 0 20px #ff510036;
}

.q9img1 {
    width: 200px;
    height: 100px;
}

.q9img2 {
    width: 200px;
    height: 200px;
}

.q9img1:hover,
.q9img2:hover {
    border: 6px solid #00ff9d36;
    box-shadow: 0 0 20px #00ff9d36;
}

#q11 {
    position: fixed;
    inset: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#q11.q11bg {
    background: url("/imgs/q11/bg.png");
}

.lswitch {
    opacity: 0;
    cursor: url("/imgs/grabby.png"), auto;
}

.lswitch.active {
    opacity: 1;
}

#q18>img:hover {
    opacity: 0.8;
    cursor: url("/imgs/grabby.png"), auto;
}

#q18 {
    display: none;
}

#q19 {
    display: none;
}

#q22 {
    display: none;
}

#q22 .q22bg {
    position: fixed;
    inset: 0;
    background-image: url("/imgs/q22/bg.gif");
}

#q19 .q19bg {
    position: fixed;
    inset: 0;
    background-image: url("/imgs/q41/bg.png");
    background-repeat: no-repeat;
    animation: q19bgpan 1s linear infinite alternate;
}

#q19 .q19herbert {
    position: fixed;
    top: 65%;
    left: 20%;
    transform: translate(-50%, -50%);
    background-image: url("/imgs/q19/herbert-scared.png");
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 0.1s ease;
    transform-origin: bottom center;
}

.q19girl {
    position: absolute;
    width: 80px;
    height: 110px;
    background-image: url("/imgs/q19/girl01.png");
    z-index: 999;
    background-size: cover;
    animation: girlrotate 5s linear infinite alternate, girlfly 2s linear infinite forwards;
}

@keyframes girlfly {
    100% {
        left: -15%;
    }
}

@keyframes girlrotate {
    100% {
        rotate: 360deg;
    }
}

.q22rock {
    position: absolute;
    left: -15%;
    filter: drop-shadow(0 0 10px #ff4800);
    width: 100px;
    animation: rockfly 2.5s linear forwards;
}

@keyframes rockfly {
    100% {
        left: 120%;
    }
}

#q27 {
    display: none;
}

.q27truffle {
    background-image: url("/imgs/q27/truffle.png");
    width: 180px;
    height: 220px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 10%;
    top: 40%;
}

.q27table {
    background-image: url("/imgs/q27/table.png");
    width: 380px;
    height: 110px;
    background-size: 380px 110px;
    background-repeat: no-repeat;
    position: absolute;
    left: 45%;
    top: 60%;
}

.q27pill01 {
    background-image: url("/imgs/q27/alzheimer.png");
    width: 80px;
    height: 90px;
    background-size: 80px 80px;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 49%;
}

.q27pill02 {
    background-image: url("/imgs/q27/hiv.png");
    width: 80px;
    height: 90px;
    background-size: 80px 80px;
    background-repeat: no-repeat;
    position: absolute;
    left: 62%;
    top: 49%;
}

.q27pill03 {
    background-image: url("/imgs/q27/schizophrenia.png");
    width: 80px;
    height: 90px;
    background-size: 80px 80px;
    background-repeat: no-repeat;
    position: absolute;
    left: 74%;
    top: 49%;
}

.q27pill03:hover,
.q27pill02:hover,
.q27pill01:hover {
    opacity: 0.7;
    cursor: url("/imgs/grabby.png"), auto;
}

#q28 {
    display: none;
}

.q28bg {
    position: fixed;
    background-image: url("/imgs/q28/bg.png");
    inset: 0;
}

.q28neurons {
    position: fixed;
    left: 50%;
    top: 30px;
    transform: translateX(-70%) scaleY(1.2);
    height: 600px;
    filter: saturate(150%);
    cursor: url("/imgs/grabby.png"), auto;
}

.q28neurons:active {
    filter: saturate(200%);
}

#q32 {
    display: none;
}

.q32bg {
    position: fixed;
    background-image: url("/imgs/q32/bg.png");
    inset: 0;
    z-index: 9999;
    transform: perspective(600px);
    transform-origin: bottom center;
    cursor: url("/imgs/grabby.png"), auto;
}

.q32bg.active {
    animation: bgdrop 1.5s linear forwards;
}

@keyframes bgdrop {
    70% {
        transform: perspective(600px) rotateX(85deg);
    }

    90% {
        transform: perspective(600px) rotateX(80deg);
    }

    100% {
        transform: perspective(600px) rotateX(82deg);
    }
}

.bee {
    position: absolute;
    left: 0%;
    top: 50%;
    animation: beemove 3.5s linear forwards;
    background-image: url("/imgs/q32/bee.gif");
    width: 64px;
    height: 64px;
    background-size: 64px;
    background-repeat: no-repeat;
}

@keyframes beemove {
    100% {
        left: 120%;
    }
}

.something {
    opacity: 0;
    font-size: 45px;
    color: #ff48ff;
    transform: translate(-50%, -50%);
}

.something:hover {
    opacity: 0.5;
}

.something:active {
    opacity: 1;
}

#q35 {
    display: none;
}

.q35bg {
    position: fixed;
    inset: 0;
    background-image: url("/imgs/q35/bg.png");
}

.q35icon {
    position: absolute;
    top: 70%;
    left: -20%;
    background-image: url("/imgs/q35/icon.png");
    width: 72px;
    height: 72px;
    background-size: 72px;
    background-repeat: no-repeat;
}

.q35icon.jumping {
    animation: iconmove 3s linear forwards, iconrotate 1s linear forwards;
}

@keyframes iconrotate {
    100% {
        rotate: 360deg;
    }
}

.q35spike {
    width: 72px;
    height: 72px;
    background-image: url("/imgs/q35/spike.png");
    background-size: 72px;
    background-repeat: no-repeat;
}

.row.spikes {
    position: absolute;
    z-index: 999;
    gap: 0;
    top: 70%;
}

.row.q39 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    gap: 50px;
    transform: translate(-50%, -50%);
}

.row.q39 h1 {
    font-size: 100px;
    color: #39b0ff;
    text-shadow: 0 0 20px #39b0ff8c;
    cursor: url("/imgs/grabby.png"), auto;
    transition: all 0.3s ease;
}

.row.q39 h1:hover {
    color: #3967ff;
    text-shadow: 0 0 20px #3988ff8c;
}

.row.q39 h1:active {
    scale: 1.05;
}

#q41 {
    display: none;
}

.q41bg {
    position: fixed;
    inset: 0;
    background-image: url("/imgs/q41/bg.png");
}

.q41herbert {
    position: fixed;
    top: 50%;
    left: 10%;
    width: 140px;
    height: 140px;
    background-image: url("/imgs/q41/herbert.png");
    background-size: 140px;
    background-repeat: no-repeat;
    transition: transform 0.08s linear;
    transform-origin: center bottom;
}

.q41herbert.mouthopen {
    background-image: url("/imgs/q41/openwide.png");
    transform: scaleY(1.5);
}

.q41text {
    position: fixed;
    font-family: "comic sans ms", sans-serif;
    font-size: 45px;
    font-weight: bold;
    top: 0;
    right: 0;
    margin: 20px;
    transition: all 0.05s ease;
    background-color: #5739ff;
    background-image: linear-gradient(#cc4aff, #815eff);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 20px #6e4dff6c;
    font-weight: bolder;
    pointer-events: none;
}

.food {
    width: 72px;
    height: 72px;
    background-image: url("/imgs/q41/cookie.png");
    background-size: 72px;
    position: absolute;
    top: 55%;
    left: 110%;
    animation: foodmove 1.5s linear forwards;
    background-repeat: no-repeat;
}

.food.hazard {
    background-image: url("/imgs/q41/clock.png");
}

@keyframes foodmove {
    100% {
        left: -20%;
        rotate: 360deg;
    }
}

#q44 {
    display: none;
}

.q44bg {
    position: fixed;
    inset: 0;
    background: #000000;
    cursor: none;
}

.q44truffle {
    width: 64px;
    height: 64px;
    background-image: url("/imgs/truffle01.png");
    background-size: 64px;
    background-repeat: no-repeat;
    opacity: 0.01;
    cursor: url("/imgs/grabby.png"), auto;
    transition: all 0.3s ease;
}

.q44carrot {
    width: 64px;
    height: 72px;
    background-image: url("/imgs/carrot01.png");
    background-size: 64px 72px;
    opacity: 0;
    cursor: url("/imgs/grabby.png"), auto;
}

.q44carrot:hover {
    opacity: 1;
}

.q44truffle.tocenter {
    animation: tocenter 3s linear forwards;
    filter: drop-shadow(0 0 30px gold);
}

@keyframes tocenter {
    100% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(360deg) scale(3);
    }
}

.q44truffle.active {
    opacity: 1;
    scale: 1.1;
}

#q47 {
    display: none;
    cursor: none;
}

.q47bg {
    position: fixed;
    inset: 0;
    background-image: url("/imgs/q47/bg.png");
    z-index: 20;
    opacity: 0.7;
}

.q47bg2 {
    position: fixed;
    inset: 0;
    background-image: url("/imgs/q47/bg2.png");
    z-index: -999;
    opacity: 0.3;
}

.q47car {
    position: fixed;
    top: 45%;
    left: 10%;
    width: 48px;
    height: 48px;
    background-image: url("/imgs/q47/player.gif");
    background-repeat: no-repeat;
    background-size: 48px;
    filter: drop-shadow(0 0 20px #1c77ff);
    transition: scale 0.08s ease;
}

.q47endpoint {
    position: fixed;
    width: 32px;
    height: 32px;
    top: 5%;
    left: 70%;
    background-size: 32px;
    background-image: url("/imgs/q47/endpoint.png");
    animation: q47endpointpulse 0.3s ease infinite alternate;
    filter: drop-shadow(0 0 20px #ff2727);
}

@keyframes q47endpointpulse {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

.q47obs {
    position: absolute;
    z-index: -10;
    background: linear-gradient(#3c8aff, #006eff, #5297ff, #60a0ff, #5372ff);
    opacity: 0.6;
    box-shadow: 0 0 40px #0066ff;
}

#q55 {
    display: none;
}

.q55text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    background-color: #ff7839;
    background-image: linear-gradient(#ff654a, #ff915e);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 20px #ff854d6c;
}

.q55obj {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
}

.q55obj.fish {
    background-image: url("/imgs/q55/fish.png");
}

.q55obj.herbert {
    width: 180px;
    background-image: url("/imgs/q55/herbert.png");
}

.q55obj.duck {
    background-image: url("/imgs/pipsqueak01.png");
}

.q55obj.egg {
    width: 150px;
    background-image: url("/imgs/q55/egg.png");
}

.q55obj.eye {
    width: 170px;
    background-image: url("/imgs/q55/eye.png");
}

.q55obj.pill {
    width: 170px;
    background-image: url("/imgs/q55/pill.png");
}

.q55input {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #5739ff;
    background-image: linear-gradient(#cc4aff, #815eff);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 20px #6e4dff6c;
    font-size: 55px;
    font-weight: bolder;
}

#q58 {
    display: none;
}

.q58bg {
    position: fixed;
    inset: 0;
    background-image: url("/imgs/q58/bg.png");
    background-size: 850px 600px;
    animation: q58bg3d 1s linear forwards .5s;
    transform: perspective(600px);
    cursor: none;
}

.q58bg.threedreverse {
    animation: q58bg3dreverse 1s linear forwards;
}

@keyframes q58bg3dreverse {
    100% {
        transform: perspective(600px) rotateY(-180deg);
    }
}

.q58bg.static {
    animation: none;
    transform: none;
}

.q58herbert {
    position: fixed;
    top: 55%;
    left: 50%;
    width: 200px;
    height: 200px;
    background-image: url("/imgs/q58/herbert01.gif");
    background-size: 200px;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%) perspective(600px);
    animation: q58herbert3d 1s linear forwards .5s;
}

.q58herbert.threedreverse {
    animation: q58herbert3dreverse 1s linear forwards;
}

@keyframes q58bg3d {
    100% {
        transform: perspective(600px) rotateY(180deg);
    }
}

@keyframes q58herbert3dreverse {
    80% {
        transform: translate(-50%, -50%) perspective(600px) rotateY(0deg) scale(5);
    }

    100% {
        transform: translate(-50%, -50%) perspective(600px) rotateY(0deg) scale(1);
    }
}

@keyframes q58herbert3d {
    100% {
        transform: translate(-50%, -50%) perspective(600px) rotateY(90deg) scale(5);
    }
}

.q58crosshair {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    background-image: url("/imgs/q58/crosshair.png");
    background-size: 24px;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: none;
    z-index: 9999;
}

.q58crosshair.active {
    opacity: 0.5;
    animation: q58crosshairidle 0.2s ease infinite alternate;
}

@keyframes q58crosshairidle {
    100% {
        opacity: 0.7;
        rotate: 10deg;
    }
}

.q58demon {
    position: fixed;
    top: 50%;
    left: -20%;
    width: 120px;
    height: 120px;
    background-image: url("/imgs/q58/demon.gif");
    background-size: 120px;
    background-repeat: no-repeat;
    cursor: none;
    animation: q58demonfloat 2s linear forwards;
    scale: -1 1;
    transition: all 0.35s ease;
    filter: drop-shadow(0 0 20px darkred);
}

@keyframes q58demonfloat {
    100% {
        left: 120%;
    }
}

@keyframes q58demonmoveleft {
    100% {
        left: -20%;
    }
}

.q58collbox {
    position: fixed;
    width: 32px;
    height: 32px;
    top: 50%;
    left: -20%;
    background: rgba(255, 0, 0, 0.678);
    opacity: 0;
    cursor: none;
    transform: translate(8%, 8%);
}

.q58demon.hit {
    transform: scale(0);
    opacity: 0;
    rotate: 360deg;
}

.q58text {
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px;
    font-family: "comic sans ms", sans-serif;
    font-size: 40px;
    font-weight: bolder;
    z-index: 9999;
    background-color: #5739ff;
    background-image: linear-gradient(#cc4aff, #815eff);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 20px #6e4dff6c;
    font-weight: bolder;
    pointer-events: none;
}

#q62 {
    display: none;
}

#q62btn {
    position: fixed;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 92px;
}

#q64 {
    display: none;
}

.q64cone {
    position: fixed;
    width: 64px;
    height: 64px;
    background-image: url("/imgs/q64/truffle.png");
    background-size: 64px;
    top: 46%;
    left: 46%;
    transition: scale 0.1s ease;
    filter: drop-shadow(0 0 20px #ff802b8a);
}

.q64text {
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    margin: 20px;
    font-family: "comic sans ms", sans-serif;
    font-size: 45px;
    font-weight: bolder;
    z-index: 9999;
    background-color: #39ff9c;
    background-image: linear-gradient(#b1b1b1, #727272);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 20px #646464e1;
    font-weight: bolder;
    pointer-events: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.q64letter {
    position: absolute;
    width: 48px;
    height: 32px;
    background-image: url("/imgs/q64/letter.png");
    background-size: 48px 32px;
    animation: q64letterappear 0.2s ease forwards;
    filter: drop-shadow(0 0 20px #272727bb);
}

.q64letter.red {
    background-image: url("/imgs/q64/letter_red.png");
    filter: drop-shadow(0 0 20px #ff0000bb);
}

.q64letter.green {
    background-image: url("/imgs/q64/letter_green.png");
    filter: drop-shadow(0 0 20px #00ff0dbb);
}

.q64letter.blue {
    background-image: url("/imgs/q64/letter_blue.png");
    filter: drop-shadow(0 0 20px #0084ffbb);
}

@keyframes q64letterappear {
    0% {
        opacity: 0;
        scale: 0;
    }

    100% {
        opacity: 1;
        scale: 1;
        rotate: 360deg;
    }
}

.q64mailman {
    position: fixed;
    top: 51%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: 64px;
    height: 64px;
    background-image: url("/imgs/q64/mailman.png");
    background-size: 64px;
    filter: drop-shadow(0 0 20px #3fff3f);
}

.q64mailman.damage {
    animation: q64mailmandamage 0.2s ease;
}

.q64mailman.pulse {
    animation: q64mailmanpulse 0.5s ease alternate infinite;
    background-image: url("/imgs/q64/mailman_happy.png");
}

@keyframes q64mailmanpulse {
    100% {
        transform: translate(-50%, -50%) scaleY(1.4);
    }
}

@keyframes q64mailmandamage {
    100% {
        transform: translate(-50%, -50%) scaleX(1.5);
        filter: drop-shadow(0 0 20px #3fff3f) hue-rotate(220deg);
    }
}

.q64effect {
    position: absolute;
    font-size: 40px;
    text-shadow: 0 0 20px red;
    color: red;
    font-weight: bolder;
    font-family: "comic sans ms", sans-serif;
    animation: q64effectanim 0.8s linear forwards;
}

.q64effect.normal {
    position: absolute;
    font-size: 40px;
    z-index: 9999;
    background-color: #ffffff;
    background-image: linear-gradient(#b1b1b1, #bbbbbb);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 20px #646464e1;
    font-weight: bolder;
    pointer-events: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.q64effect.red {
    position: absolute;
    font-size: 40px;
    z-index: 9999;
    background-color: #fd5151;
    background-image: linear-gradient(#ff6767, #ff1616);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 20px #fd2d2de1;
    font-weight: bolder;
    pointer-events: none;
}

.q64effect.green {
    position: absolute;
    font-size: 40px;
    z-index: 9999;
    background-color: #51fd5f;
    background-image: linear-gradient(#67ff95, #4cff45);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 20px #6ffd2de1;
    font-weight: bolder;
}

.q64effect.blue {
    position: absolute;
    font-size: 40px;
    z-index: 9999;
    background-color: #5196fd;
    background-image: linear-gradient(#6797ff, #4845ff);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 20px #422dfde1;
    font-weight: bolder;
}

@keyframes q64effectanim {
    100% {
        transform: translateY(-100px);
        opacity: 0;
    }
}

#q66 {
    display: none;
}

#q66 {
    position: fixed;
    inset: 0;
    background: black;
    z-index: 9999;
    color: white;
    font-family: Consolas;
    font-weight: 100;
    cursor: none;
}

.q66cont {
    margin: 5px;
    font-size: 18px;
}

.q66cursor {
    height: 17px;
    width: 2px;
    background: white;
}

#q70 {
    display: none;
}

.q70bg {
    position: fixed;
    background-image: url("/imgs/q70/bg.png");
    inset: 0;
    background-size: 850px 600px;
    filter: hue-rotate(250deg);
}

.q70icon {
    position: absolute;
    top: 70%;
    left: 10%;
    background-image: url("/imgs/q70/icon.png");
    width: 72px;
    height: 72px;
    background-size: 72px;
    background-repeat: no-repeat;
    z-index: 999;
}

.q70icon.jumping {
    animation: q70iconrotate 1s linear forwards;
}

@keyframes q70iconrotate {
    100% {
        rotate: 180deg;
    }
}

.q73rock {
    position: absolute;
    top: -15%;
    left: 50%;
    width: 64px;
    height: 64px;
    background-image: url("/imgs/q73/rock.gif");
    background-size: 64px;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 20px #ff1e0e);
    rotate: 45deg;
    animation: q73rockmove 0.5s linear forwards;
}

@keyframes q73rockmove {
    100% {
        top: 115%;
    }
}

#q72 {
    display: none;
}

.q72num {
    font-size: 140px;
    font-family: "comic sans ms", sans-serif;
    position: relative;
    font-weight: bolder;
    background: #ff898944;
    border-radius: 5px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url("/imgs/grabby.png"), auto;
}

.q72num.one {
    color: #30e730;
    text-shadow: 0 0 20px #37ff378f;
    -webkit-text-stroke: 6px #36d636;
    background: #8dff8944;
}

.q72num.two {
    color: #e73030;
    text-shadow: 0 0 20px #ff37378f;
    -webkit-text-stroke: 6px #d63636;
    background: #ff898944;
}

.q72num.three {
    color: #3085e7;
    text-shadow: 0 0 20px #3794ff8f;
    -webkit-text-stroke: 6px #367bd6;
    background: #89caff44;
}

.q72num.four {
    color: #ffae17;
    text-shadow: 0 0 20px #ffb9378f;
    -webkit-text-stroke: 6px #ffa137;
    background: #fff78944;
}

.q72num:hover {
    opacity: 0.5;
    cursor: url("/imgs/grabby.png"), auto;
}

.q72num:active {
    opacity: 1;
}

.q72num.grayscale {
    filter: grayscale(100%) brightness(50%);
    pointer-events: none;
    opacity: 0.5;
}

.q72numpos {
    position: absolute;
    top: 50%;
    left: 50%;
    color: red;
    font-size: 40px;
    filter: grayscale(100%) brightness(100%);
    filter: none;
    z-index: 9999;
    -webkit-text-stroke: 0;
}

#q75 {
    display: none;
}

.q75bg {
    position: fixed;
    inset: 0;
    background-image: url("/imgs/q75/bg.gif");
    background-size: 850px 600px;
}

.q75earth {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 210px;
    height: 210px;
    background-image: url("/imgs/q75/earth.png");
    background-size: 210px;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 80px #2189ff4b);
    transition: all 0.3s ease;
}

.q75earth.egone {
    transform: translate(-50%, -50%) scale(0) rotate(360deg);
    opacity: 0;
}

.q75herbert {
    width: 150px;
    height: 250px;
    background-image: url("/imgs/q75/herbert.png");
    background-size: 150px 250px;
    background-repeat: no-repeat;
    position: absolute;
    top: 30%;
    left: -20%;
    z-index: 999;
    filter: drop-shadow(0 0 80px #ff15ff34);
    cursor: url("/imgs/grabby.png"), auto;
}

.q75herbert.gliding {
    animation: q75herbertglide 1s linear forwards;
}

.q75herbert.dead {
    animation: q75herbertdie 0.3s linear forwards;
}

.q75herbert.mouthclosed {
    background-image: url("/imgs/q75/herbert_mouthclosed.png");
    width: 150px;
    height: 150px;
    background-size: 150px;
    top: 37%;
    pointer-events: none;
    cursor: url("/imgs/cursor.png"), auto;
}

@keyframes q75herbertdie {
    100% {
        scale: 0;
        rotate: 360deg;
        opacity: 0;
    }
}

@keyframes q75herbertglide {
    0% {
        left: -20%;
        transform: scaleY(1.5);
    }

    100% {
        left: 41%;
        transform: scaleY(1);
    }
}

.q75ufo {
    position: absolute;
    width: 80px;
    height: 64px;
    background-size: 80px 64px;
    background-image: url("/imgs/q75/ufo.png");
    top: 18%;
    left: 110%;
    z-index: 999;
    filter: drop-shadow(0 0 60px #71ff2fd3);
    cursor: url("/imgs/grabby.png"), auto;
}

.q75ufo.flying {
    animation: q75ufofly 2s linear forwards;
}

.q75ufo.dead {
    animation: q75ufodead 0.6s linear forwards;
}

@keyframes q75ufodead {
    100% {
        top: 120%;
        rotate: 360deg;
    }
}

@keyframes q75ufofly {
    100% {
        left: -20%;
    }
}

.q75bomb {
    position: absolute;
    width: 48px;
    height: 64px;
    animation: q75bombdrop 0.15s linear forwards;
    background-image: url("/imgs/q75/bomb.png");
    background-size: 48px 64px;
    filter: drop-shadow(0 0 60px #ff5f5f);
    transition: all 0.3s ease;
}

.q75bomb.boom {
    scale: 2;
    opacity: 0;
}

@keyframes q75bombdrop {
    100% {
        translate: 0 100px;
    }
}

.q75pooboo {
    position: absolute;
    top: 33%;
    left: 110%;
    width: 215px;
    height: 190px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/imgs/q75/pooboo.gif");
    z-index: 999;
    filter: drop-shadow(0 0 40px #57ff5779);
    cursor: url("/imgs/grabby.png"), auto;
    transition: scale 0.3s ease, opacity 0.3s ease;
}

.q75pooboo.gliding {
    animation: q75poobooglide 1s linear forwards;
}

.q75pooboo.stationary {
    background-image: url("/imgs/q75/pooboo_stationary.png");
    pointer-events: none;
    cursor: url("/imgs/cursor.png"), auto;
}

.q75pooboo.dead {
    scale: 1 3;
    opacity: 0;
    background-image: url("/imgs/q75/pooboo_mouthopen.png");
}

@keyframes q75poobooglide {
    100% {
        left: 40%;
    }
}

#q81 {
    display: none;
}

.q81bg {
    position: fixed;
    inset: 0;
    background-image: url("/imgs/q81/bg.png");
    background-size: 850px 600px;
    animation: q81bg3d 2s linear forwards;
    transform: scale(1.5);
}

.q81herbert {
    position: fixed;
    top: 45%;
    left: 25%;
    width: 140px;
    height: 140px;
    background-image: url("/imgs/q81/herbert.png");
    background-size: 140px 140px;
    z-index: 999;
    transform: perspective(600px) translateZ(-700px) rotateY(180deg);
    animation: q81herbert3d 2s linear forwards;
}

.q81herbert.blushing {
    background-image: url("/imgs/q81/herbert_blushing.png");
}

@keyframes q81bg3d {
    100% {
        transform: scale(1);
    }
}

@keyframes q81herbert3d {
    100% {
        transform: perspective(600px) translateZ(100px) rotateY(0deg);
    }
}

.q81speechbubble {
    position: absolute;
    top: 25%;
    left: 47%;
    width: 220px;
    height: 180px;
    background-image: url("/imgs/q81/bubble.gif");
    background-size: 220px 180px;
    z-index: 999;
    opacity: 0;
    transition: all 0.3s ease;
    scale: 0;
    filter: drop-shadow(0 0 40px #ffffff25);
    transition: all 0.3s ease;
}

.q81dialoglabel {
    position: absolute;
    top: 12%;
    left: 5%;
    background-color: #5739ff;
    background-image: linear-gradient(#cc4aff, #815eff);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 20px #6e4dff;
    font-weight: bolder;
    pointer-events: none;
    text-align: center;
}

.q81speechbubble.active {
    animation: q81objappear 0.5s ease-out forwards;
}

.q81speechbubble.gone {
    animation: q81objgone 0.4s ease-out forwards;
}

@keyframes q81objgone {
    0% {
        opacity: 1;
        scale: 1;
    }

    50% {
        opacity: 1;
        scale: 1.1;
    }

    100% {
        opacity: 0;
        scale: 0;
    }
}

@keyframes q81objappear {
    50% {
        opacity: 1;
        scale: 1;
    }

    70% {
        opacity: 1;
        scale: 1.1;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}

.q81object {
    position: fixed;
    top: 32%;
    left: 57%;
    width: 64px;
    height: 64px;
    background-size: 64px 64px;
    z-index: 999;
    opacity: 0;
    scale: 0.7;
    transition: all 0.3s ease;
}

.q81object.apple {
    opacity: 1;
    scale: 1;
    background-image: url("/imgs/q81/apple.gif");
}

.q81object.star {
    opacity: 1;
    scale: 1;
    background-image: url("/imgs/q81/star.gif");
}

.q81object.flower {
    opacity: 1;
    scale: 1;
    background-image: url("/imgs/q81/flower.gif");
    width: 48px;
    background-size: 48px 64px;
    left: 58%;
}

.q81object.house {
    opacity: 1;
    scale: 1;
    background-image: url("/imgs/q81/house.gif");
}

.q81object.heart {
    opacity: 1;
    scale: 1;
    background-image: url("/imgs/q81/heart.gif");
}

.q81inputlabel {
    position: fixed;
    top: 60%;
    left: 49%;
    font-size: 42px;
    font-family: "comic sans ms", sans-serif;
    background-color: #5739ff;
    background-image: linear-gradient(#cc4aff, #815eff);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 20px #6e4dff6c;
    font-weight: bolder;
    pointer-events: none;
    width: 220px;
    text-align: center;
}

.q81heart {
    width: 48px;
    height: 48px;
    background-image: url("/imgs/q81/heart.gif");
    z-index: 999;
    background-size: 48px 48px;
    animation: q81heartfly 1.0s linear forwards;
}

@keyframes q81heartfly {
    100% {
        translate: 0 -500px;
        opacity: 0;
        rotate: 360deg;
    }
}

#q86 {
    display: none;
}

.q86rock {
    position: fixed;
    top: 70%;
    left: 50%;
    width: 300px;
    height: 130px;
    background-image: url("/imgs/q86/rock.png");
    background-size: 300px 130px;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 15px 60px #000000b0);
}

.q86sword {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 120px;
    height: 350px;
    background-image: url("/imgs/q86/sword.png");
    background-size: 120px 350px;
    cursor: url("/imgs/grabby.png"), auto;
}

.q86sword.active {
    animation: q86swordshow 1.5s ease forwards;
}

@keyframes q86swordshow {
    50% {
        transform: translate(-50%, -50%) scaleY(-1);
        z-index: 999;
        top: 50%;
    }

    80% {
        transform: translate(-50%, -50%) scaleY(-1);
        z-index: 999;
        filter: drop-shadow(0 0 60px #ffe600);
        top: 50%;
    }

    90% {
        transform: translate(-50%, -50%) scaleY(-1);
        z-index: 999;
        filter: drop-shadow(0 0 60px #ffe600);
        top: 55%;
    }

    100% {
        transform: translate(-50%, -50%) scaleY(-1);
        z-index: 999;
        filter: drop-shadow(0 0 60px #ffe600);
        top: -120%;
    }
}

.q86trigger {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 32px;
    width: 150px;
    background: #00ff0044;
    opacity: 0;
}

.q86bg {
    background-image: url("/imgs/q86/bg.png");
    inset: 0;
    position: fixed;
    opacity: 1;
    filter: brightness(80%) saturate(70%);
}

#q93 {
    display: none;
}

.q93demon {
    position: fixed;
    top: 50%;
    left: -20%;
    transform: translate(-50%, -50%) scaleX(-1);
    width: 180px;
    height: 128px;
    background-image: url("/imgs/q92/demon.gif");
    background-size: 180px 128px;
    filter: drop-shadow(0 0 20px #61010152);
    animation: q93demonmove 1s linear forwards;
}

@keyframes q93demonmove {
    100% {
        left: 120%;
    }
}

.q93row {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.q93answer {
    width: 128px;
    height: 128px;
    font-size: 60px;
    font-family: "comic sans ms", sans-serif;
    border: none;
    background: linear-gradient(#830000, #520000);
    color: #c40000;
    text-shadow: 0 0 20px #c40000;
    corner-shape: bevel;
    border-radius: 15px;
    box-shadow: 0 0 20px #8a0000, inset 0 0 0 6px #690000;
    transition: all 0.3s ease;
    position: relative;
    rotate: 5deg;
}

.q93answer:nth-child(2n) {
    rotate: -5deg;
}

.q93answer::before {
    content: "";
    width: 15px;
    height: 1000px;
    position: absolute;
    background: red;
    top: 126px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(#830000, #520000);
    box-shadow: 0 0 20px #8a0000, inset 0 0 0 3px #690000;
}

.q93answer:hover {
    scale: 1.1;
    background: linear-gradient(#a80000, #7c0000);
    box-shadow: 0 0 20px #df000096, inset 0 0 0 6px #740000;
    color: #4e0000;
    font-weight: bolder;
}

.q93answer:hover::before {
    background: linear-gradient(#a80000, #7c0000);
    box-shadow: 0 0 20px #df000096, inset 0 0 0 3px #740000;
}

.q93answer:active {
    border-radius: 20px;
    translate: 0 5px;
    color: #ff0000;
    background: linear-gradient(#2c0000, #4d0000);
    box-shadow: 0 0 20px #6e000096, inset 0 0 0 6px #b80000;
}

.q93answer:active::before {
    background: linear-gradient(#2c0000, #4d0000);
    box-shadow: 0 0 20px #6e000096, inset 0 0 0 3px #b80000;
}

#q95 {
    display: none;
}

.q95bg {
    position: fixed;
    inset: 0;
    background-image: url("/imgs/q95/bg.png");
    z-index: -3;
}

.q95player {
    position: fixed;
    width: 53px;
    height: 48px;
    background-image: url("/imgs/q95/player.gif");
    background-size: 53px 48px;
    top: 46%;
    left: 10%;
    z-index: -2;
    transition: scale 0.3s ease;
    filter: drop-shadow(0 0 20px #5f0000) brightness(150%);
}

.q95obstacle {
    position: fixed;
    width: 100px;
    height: 100px;
    background-image:
        radial-gradient(#800000d3, #3f0000b4),
        url("/imgs/q95/rock.png");
    z-index: -1;
    background-attachment: fixed;
    box-shadow: 0 0 60px #6401015b;
}

.q95obstacle.rtl,
.q95obstacle.ltr {
    background-image: linear-gradient(#00000000, #00000000), url("/imgs/q95/spikeblock.png");
    background-size: 100px 120px;
    filter: drop-shadow(0 0 60px #5e0000);
}

.q95obstacle.rtl {
    animation: q95obsrtl 0.9s linear infinite alternate;
}

.q95obstacle.ltr {
    animation: q95obsltr 0.9s linear infinite alternate;
}

@keyframes q95obsrtl {
    100% {
        translate: 230px 0;
    }
}

@keyframes q95obsltr {
    100% {
        translate: -230px 0;
    }
}

.q95coin {
    position: fixed;
    width: 42px;
    height: 42px;
    background-image: url("/imgs/q95/coin.png");
    background-size: 42px 42px;
    filter: drop-shadow(0 0 30px #e23500);
    animation: q95coinidle 1s linear infinite alternate;
}

.q95coin.firstcoin {
    top: 83%;
    left: 70%;
}

.q95coin.secondcoin {
    top: 46%;
    left: 5%;
    display: none;
    opacity: 0;
    transition: all 0.3s ease;
    transition-behavior: allow-discrete;
}

.q95coin.secondcoin.active {
    opacity: 1;
    display: block;
}

@starting-style {
    .q95coin.secondcoin.active {
        opacity: 0;
    }
}

.q95coin.gone {
    animation: q95coingone 0.5s ease forwards;
}

@keyframes q95coingone {
    100% {
        translate: 0 -100px;
        scale: 0;
        rotate: 360deg;
        opacity: 0;
    }
}

@keyframes q95coinidle {
    100% {
        scale: -1 1;
    }
}

.q96overlay {
    position: fixed;
    inset: 0;
    background: radial-gradient(#1d00008c, #2b00008c);
    z-index: -9999;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.q96overlay h1 {
    margin: 0;
}

.q96overlay.active {
    opacity: 1;
    pointer-events: all;
    z-index: 9999;
}

.q96overlaytext1 {
    font-size: 40px;
    color: #c50000;
    text-shadow: 0 0 60px #c70606;
}

.q96overlaytext2 {
    font-size: 100px;
    color: #ff0000;
    text-shadow: 0 0 30px #ff0000;
}

.q98i:hover {
    cursor: url("/imgs/cvariants/grabby_finale.png"), auto;
    background-color: #ff7839;
    background-image: linear-gradient(#530303, #1f0000);
    opacity: 0.8;
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 20px #7200006c;
}

.q98i:active {
    cursor: url("/imgs/cvariants/grabby_finale.png"), auto;
    background-color: #ff7839;
    background-image: linear-gradient(#c00000, #b40000);
    opacity: 0.8;
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 20px #ff000088;
}

#q98 {
    display: none;
}

.q98row {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.q98eye {
    width: 150px;
    height: 150px;
    background-image: url("/imgs/q98/eye.png");
    background-size: 150px 150px;
    filter: drop-shadow(0 0 60px #500000);
    cursor: url("/imgs/cvariants/grabby_finale.png"), auto;
    z-index: 80;
}

.q98eye:hover {
    background-image: url("/imgs/q98/eye_unamused.png");
}

.q98eye:active {
    background-image: url("/imgs/q98/eye.png");
    filter: saturate(150%);
}