@font-face {
    font-family: 'gamefont';
    src: url('/fonts/Action\ Man.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100%;
    min-width: 100vw;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    background: radial-gradient(ellipse, #ffc18e, #ffb482);
    font-family: 'gamefont';
    overflow: hidden;
    cursor: url("/imgs/cursor.png"), auto;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

body.impact {
    filter: invert(1);
    rotate: 5deg;
}

#viewport {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    width: 850px;
    height: 600px;
    overflow: hidden;
}

body.finale {
    background: linear-gradient(to bottom, #f53434, #3b0404);
    cursor: url("/imgs/cvariants/cursor_finale.png"), auto;
}

body.ending {
    cursor: none;
}

body.shake {
    animation: bodyshake 0.1s linear;
}

body.lowgraphics {
    background: #ffc18e;
}

body.lowgraphics * {
    box-shadow: none;
    text-shadow: none;
    filter: none;
    corner-shape: round;
}

body.lowgraphics *:hover {
    box-shadow: none;
    text-shadow: none;
}

body.lowgraphics *::before {
    display: none;
}

body.lowgraphics .bg {
    transform: perspective(0) rotateX(0) scale(1.6);
}

@keyframes bodyshake {
    50% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(5px);
    }
}

body.perspective {
    transform: perspective(600px);
}

@keyframes turnaround {
    100% {
        transform: perspective(600px) rotateY(180deg) translateX(-1500px);
    }
}

body.metal {
    background: radial-gradient(ellipse, #3b3b3b, #161616);
    cursor: url("/imgs/cvariants/cursor_mtl.png"), auto;
}

.marquee {
    animation: marquee 10s linear infinite;
    transform: translateX(-500px);
    animation-play-state: paused;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: bolder;
    background-color: #ff7839;
    background-image: linear-gradient(#ff654a, #ff915e);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 20px #ff7d31f6;
}

@keyframes marquee {
    100% {
        transform: translateX(1000px);
    }
}

/* ffd6d0, 37 15 0 */

.fob {
    position: fixed;
    top: 50%;
    left: -20%;
    transition: all 0.1s linear;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
}

.fob.active {
    animation: fobanim 3s linear forwards;
}

@keyframes fobanim {
    100% {
        transform: translateY(-50%) rotate(360deg);
        left: 120%;
    }
}

.plob {
    position: fixed;
    top: 50%;
    left: 120%;
    transition: all 0.1s linear;
    transform: scaleX(-1) translateY(-50%);
    width: 100px;
    height: 100px;
}

.plob.active {
    animation: plobanim 3s linear forwards;
}

@keyframes plobanim {
    100% {
        transform: scaleX(-1) translateY(-50%) rotate(360deg);
        left: -20%;
    }
}

button:hover {
    cursor: url("/imgs/grabby.png"), auto;
}

body.finale button:hover {
    cursor: url("/imgs/cvariants/grabby_finale.png"), auto;
}

.bg {
    position: fixed;
    inset: 0;
    background-image: url("/imgs/bg01.png");
    opacity: 0.05;
    animation: bgpan 70s linear infinite alternate, bgidle 1.5s ease infinite alternate;
    transform-origin: center center;
    transform: perspective(600px) rotateX(30deg) scale(1.6);
    z-index: -999;
}

.bg.normal {
    position: fixed;
    inset: 0;
    background-image: url("/imgs/bg01.png");
    opacity: 0.05;
    animation: bgpan 70s linear infinite alternate, bgidle 1.5s ease infinite alternate;
    transform-origin: center center;
    transform: perspective(600px) rotateX(30deg) scale(1.5);
    z-index: -999;
}

.bg.metal {
    filter: brightness(0%);
}

.bg.finale {
    background-image: url("/imgs/bg02.png");
    animation-duration: 10s;
}

.href {
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    transition: all 0.3s ease;
    color: #ff7350;
    cursor: url("/imgs/grabby.png"), auto;
}

.href:hover {
    scale: .95;
}

.href:active {
    scale: 1.05;
    color: #ff5d2c;
    filter: drop-shadow(0 0 20px #ff5d2c);
}

.bg.gameover {
    z-index: 1001;
    opacity: 0.02;
    filter: hue-rotate(-20deg);
    pointer-events: none;
}

.gamerow {
    background: #ff613a27;
    padding: .5rem;
    border-radius: 5px;
}

.gameimg {
    width: 120px;
    height: 100px;
    background: #ff511c48;
    border-radius: 5px;
    padding: .2rem;
    transition: all 0.3s ease;
}

.gametitle {
    color: #ff4336;
}

.gametitle:hover {
    color: inherit;
    cursor: url("/imgs/grabby.png"), auto;
}

.gametitle:active {
    color: #ff4336;
}

.gameimg:hover {
    scale: 1.05;
    cursor: url("/imgs/grabby.png"), auto;
    box-shadow: 0 0 20px #ff511c48;
}

.gameimg:active {
    scale: 0.98;
    box-shadow: 0 0 20px #ff3c00a4;
    background: #ff3c00a4;
}

.moregamespage {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.startpage {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.beginbtn {
    font-family: 'gamefont';
    padding: 1.2rem;
    border: none;
    background: radial-gradient(ellipse, #ffb482, #ff8b55);
    font-size: 45px;
    color: #ffedde;
    border-radius: 5px;
    box-shadow: 0 0 20px #ff913770;
    transition: all 0.3s ease;
}

.beginbtn:hover {
    background: radial-gradient(ellipse, #ffaa72, #ff854c);
    color: #ffd0a9;
    box-shadow: 0 0 20px #ff632670;
    scale: 1.02;
}

.beginbtn:active {
    background: radial-gradient(ellipse, #ffa162, #ff7839);
    color: #fff9f3;
    box-shadow: 0 0 20px #ff4f0a98;
    scale: 0.98;
}

.beginbtn.dead {
    animation: dropbeginbtn 0.6s linear forwards;
    pointer-events: none;
}

#fpslabel {
    z-index: 9999;
    font-size: 30px;
}

.alien {
    position: fixed;
    top: 50%;
    left: -20%;
    background-image: url("../anims/introalien.gif");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    filter: drop-shadow(0 0 20px #1bff1b8f);
    transform: translateY(-50%);
    transition: left 4s linear;
}

.alien.flippedalien {
    transform: translateY(-50%) scaleX(-1);
    filter: hue-rotate(250deg) drop-shadow(0 0 20px #ff1bce8f);
    left: 120%;
}

.alien.active {
    left: 120%;
}

.alienboom {
    width: 200px;
    height: 200px;
    animation: alienboom 0.5s linear forwards;
    translate: 0 -50px;
}

.logo {
    width: 500px;
    height: 250px;
    background-image: url("/imgs/logo01.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    animation: logoidle 1s linear infinite alternate;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0) rotate(360deg);
    transition: opacity 0.3s ease, all 0.8s ease;
    opacity: 0;
    animation: logoidle 1s linear infinite;
    transform-origin: center center;
}

.logo.herbert {
    background-image: url("/imgs/logo03.png");
}

.logo.active {
    opacity: 1;
    animation: logoidle 1s linear infinite, logoappear 1.6s cubic-bezier(0.23, 1, 0.320, 1) forwards;
}

.logo.finalplace {
    translate: 0 -120px;
    width: 480px;
    height: 210px;
}

.logo.fly {
    animation: logoidle 1s linear infinite,
        logoappear 1.6s cubic-bezier(0.23, 1, 0.320, 1) forwards, logofly 0.8s ease forwards;
}

@keyframes logofly {
    100% {
        scale: 0;
        rotate: 360deg;
        opacity: 0;
    }
}

.menugrid {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    transition: all 0.3s ease;
}

.menugrid.hidden {
    opacity: 0;
    pointer-events: none;
}

.menugrid.fly {
    animation: menufly 0.8s ease forwards;
}

@keyframes menufly {
    100% {
        transform: translate(-50%, -50%) scale(0) rotate(360deg);
        opacity: 0;
    }
}

.qbutton.left.animate {
    translate: -120%;
    animation: qbuttonright 1s ease forwards, qbuttonpulse01 0.5s ease infinite alternate;
}

.qbutton.right.animate {
    translate: 120%;
    animation: qbuttonright 1s ease forwards, qbuttonpulse01 0.3s ease infinite alternate;
}

.copyrightbtn {
    position: fixed;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    background-size: 32px;
    background-image: url("/imgs/copyrightbtn.png");
    margin: 5px;
    opacity: 0.3;
    cursor: url("/imgs/grabby.png"), auto;
}

.copyrightbtn:hover {
    opacity: 0.8;
}

.copyrightbtn:active {
    opacity: 0.5;
}

.copyrightnoticepage {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 30px;
    font-weight: bolder;
    color: #ff553f;
}

.creditsoverlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0);
    pointer-events: none;
    transition: all 0.3s ease;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffddd2;
    opacity: 0;
}

.creditsoverlay h2 {
    margin: 3px;
}

.highlight {
    color: #ff784f;
    text-shadow: 0 0 20px #ff784f81;
    animation: highlightidle 1s ease infinite alternate;
}

@keyframes highlightidle {
    100% {
        color: #ff7146;
        text-shadow: 0 0 20px #ff430a81;
    }
}

.creditsoverlay.active {
    background: rgba(0, 0, 0, 0.918);
    pointer-events: all;
    opacity: 1;
}

@keyframes qbuttonpulse01 {
    100% {
        filter: hue-rotate(-10deg);
        rotate: 1deg;
    }
}

@keyframes qbuttonpulse02 {
    100% {
        filter: hue-rotate(-20deg);
        rotate: -1deg;
    }
}

@keyframes qbuttonright {
    50% {
        translate: 0;
        rotate: 5deg;
    }

    100% {
        translate: 0;
    }
}

.bomb {
    position: fixed;
    top: 0;
    right: 0;
    background-image: url("../anims/bomb02.gif");
    width: 145px;
    height: 145px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 20px;
    filter: drop-shadow(0 0 20px #d446ff8c);
    translate: 13.336% -12%;
    display: none;
    opacity: 0;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bomb.obliterated {
    z-index: 1000;
}

.bomb.finale {
    background-image: url("../anims/finalebomb02.gif");
    filter: drop-shadow(0 0 20px #4d0000);
    background-position: center center;
    margin: 18px;
    width: 140px;
    height: 140px;
}

.bomb.suffer {
    scale: 1;
    animation: bombsuffer 0.05s linear infinite;
}

@keyframes bombsuffer {
    100% {
        scale: 0.8 1.2;
        filter: invert(1);
        rotate: 260deg;
    }
}

.bomb.finale>.bombtext {
    background-color: #c039ff;
    background-image: linear-gradient(#970404, #ff0000);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 20px #ff3131c4;
    animation: bombtextpulsefinale 1s ease infinite;
    translate: -13px -2px;
    font-size: 70px;
}

.bombtext {
    font-size: 60px;
    background-color: #c039ff;
    background-image: linear-gradient(#8f4aff, #ec5eff);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 20px #ff4df6a8;
    animation: bombtextpulse 1s ease infinite;
}

.bottomrow {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    pointer-events: none;
}

.liveslabel {
    font-size: 48px;
    margin-left: 15px;
    translate: 0 -3px;
    background-color: #ff7839;
    background-image: linear-gradient(#ff8349, #ff915e);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 20px #ff6131cb;
}

.liveslabel.finale {
    font-size: 48px;
    margin-left: 15px;
    translate: 0 -3px;
    background-color: #ff7839;
    background-image: linear-gradient(#ff0606, #a50000);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 20px #790202;
}

.liveslabel.onechance {
    font-size: 40px;
    background-image: linear-gradient(#830400, #ff0000);
    text-shadow: 0 0 20px #640000cb;
    animation: onechancepulse 0.3s ease infinite alternate;
    translate: 5px -3px;
}

.liveslabel.finale.onechance {
    background-image: linear-gradient(#ff0800, #ff0000);
    animation: onechancepulsefinale 0.3s ease infinite alternate;
}

.purpletext {
    background-color: #ef39ff;
    background-image: linear-gradient(#a749ff, #cd50ff);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 20px #b331ffcb;
}

@keyframes onechancepulse {
    100% {
        scale: 1.08;
        background-image: linear-gradient(#850700, #2c0000);
    }
}

@keyframes onechancepulsefinale {
    100% {
        scale: 1.08;
        background-image: linear-gradient(#ff0d00, #d10000);
        text-shadow: 0 0 60px red;
    }
}

.lives {
    font-family: "comic sans ms", sans-serif;
    font-size: 44px;
    translate: 10px -1px;
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 20px #ff2020cb;
    font-weight: 1000;
}

.lives.shaking {
    animation: lifeshake 0.5s ease alternate;
}

@keyframes lifeshake {
    80% {
        transform: scale(1.3);
        filter: hue-rotate(60deg);
    }

    100% {
        transform: scale(1);
    }
}

.lives.full {
    background-color: #ff7839;
    background-image: linear-gradient(#ff6f2d, #ff6d40);
    text-shadow: 0 0 20px #ff6131cb;
}

.lives.finale.full {
    background-color: #ff7839;
    background-image: linear-gradient(#ff1313, #9b0000);
    text-shadow: 0 0 20px #ff0000cb;
}

.lives.finale.half {
    background-color: #ff7839;
    background-image: linear-gradient(#a33636, #7c1212);
    text-shadow: 0 0 20px #ff3131cb;
    font-family: "gamefont";
    font-size: 48px;
    translate: 10px -3px;
}

.lives.half {
    background-color: #ff7839;
    background-image: linear-gradient(#cf69ff, #a46cff);
    text-shadow: 0 0 20px #ff31ffcb;
    font-family: "gamefont";
    font-size: 48px;
    translate: 10px -3px;
}

.lives.danger {
    background-color: #ff7839;
    background-image: linear-gradient(#ff342d, #ff5d40);
    animation: livesdanger 0.3s ease infinite alternate;
}

.lives.finale.danger {
    background-image: linear-gradient(#721b18, #300700);
}

.cursorpointer {
    cursor: url("/imgs/grabby.png"), auto;
}

@keyframes livesdanger {
    100% {
        scale: 1.5;
        background-image: linear-gradient(#ff0800, #a33421);
    }
}

@keyframes bombtextpulse {
    50% {
        scale: 0.92;
    }

    80% {
        scale: 1.15 0.8;
        text-shadow: 0 0 20px #ff29ffc7;
    }

    100% {
        scale: 1;
    }
}

@keyframes bombtextpulsefinale {
    50% {
        scale: 0.92;
    }

    80% {
        scale: 1.2 0.8;
    }

    100% {
        scale: 1;
    }
}

.demoendoverlay {
    position: fixed;
    inset: 0;
    background: #000000e3;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.demoendoverlay.hidden {
    opacity: 0;
    pointer-events: none;
}

.qbutton {
    position: relative;
    font-family: inherit;
    font-size: 30px;
    width: 310px;
    height: 110px;
    background: linear-gradient(#ff9b61, #ff8e59, #ff7a59, #ff6843);
    border: none;
    border-radius: 10px;
    color: #ffd9c7;
    text-shadow: 0 0 20px #ffb28e;
    transition: scale 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    corner-shape: bevel;
    box-shadow: inset 0 0 0 6px #ff400611;
    text-transform: capitalize;
}

.qbutton span {
    background-color: #ff7839;
    background-image: linear-gradient(#ffd8c8, #ffd3bf);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 20px #ff854d6c;
    font-weight: bold;
    text-shadow: 0 0 20px #ff9271a9;
    padding: 2px;
}

.qbutton.finale {
    background: linear-gradient(#8d1515, #b31e1e, #9b0d0d);
    background: linear-gradient(#8d1515, #b31e1e, #720101);
    text-shadow: 0 0 20px #741a1a;
    box-shadow: inset 0 0 0 6px #31000033;
    border-radius: 10px;
    corner-shape: scoop;
}

.qbutton.finale span {
    background-image: linear-gradient(#850000, #380000);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 20px #680000bb;
    font-weight: 500;
}

.qbutton:hover {
    background: linear-gradient(#ff8661, #ff716c, #ff4e37);
    scale: 0.99;
    box-shadow: 0 0 20px #ff6854ab, inset 0 0 0 6px #ff40062f;
    color: #ffc1b6;
}

.qbutton:hover span {
    background-image: linear-gradient(#ffe1d8, #ff8888);
    text-shadow: 0 0 20px #ff5e5354;
}

.qbutton.finale:hover {
    background: linear-gradient(#520909, #2b0504, #360101);
    scale: 0.99;
    box-shadow: 0 0 20px #47030369, inset 0 0 0 6px #8a00006c;
    color: #a80000;
}

.qbutton.finale:hover span {
    background-image: linear-gradient(#3d0000, #bb0000);
    text-shadow: 0 0 20px #ac0000bb;
}

.qbutton::before {
    position: absolute;
    inset: 0;
    content: "";
    background-image: url("/imgs/qbuttonbg.png");
    background-size: 64px 72px;
    opacity: 0.09;
    animation: bgpan 10s linear infinite alternate;
    overflow: hidden;
}

.qbutton.finale::before {
    opacity: 0.12;
    background-image: url("/imgs/qbuttonbg02.png");
    animation-duration: 5s;
}

.qbutton.nobg::before {
    background-image: none;
}

.qbutton.left::after {
    content: "";
    position: absolute;
    left: -48%;
    width: 150px;
    height: 13px;
    background: linear-gradient(#ff9b61, #ff8e59, #ff7a59);
}

.qbutton.left.finale::after {
    background: linear-gradient(#8d1515, #b31e1e, #9b0d0d);
}

.qbutton.left:hover::after,
.qbutton.right:hover::after {
    background: linear-gradient(#ff8661, #ff716c, #ff6854);
}

.qbutton.left.finale:hover::after,
.qbutton.right.finale:hover::after {
    background: linear-gradient(#520909, #2b0504, #360101);
}

.qbutton.left:active::after,
.qbutton.right:active::after {
    background: linear-gradient(#ff4b33, #ff664b, #ff5a30);
}

.qbutton.left.finale:active::after,
.qbutton.right.finale:active::after {
    background: linear-gradient(#300000, #270000, #8f0000);
}

.qbutton.right::after {
    content: "";
    position: absolute;
    left: 100%;
    width: 150px;
    height: 13px;
    background: linear-gradient(#ff9b61, #ff8e59, #ff7a59);
}

.qbutton.right.finale::after {
    background: linear-gradient(#8d1515, #b31e1e, #9b0d0d);
}

@media (width > 850px) {
    .qbutton.left::after {
        content: "";
        position: absolute;
        left: -322%;
        width: 1000px;
        height: 13px;
        background: linear-gradient(#ff9b61, #ff8e59, #ff7a59);
    }

    .qbutton.right::after {
        content: "";
        position: absolute;
        left: 100%;
        width: 1000px;
        height: 13px;
        background: linear-gradient(#ff9b61, #ff8e59, #ff7a59);
    }
}

.qbutton:active {
    scale: 1.03;
    font-family: inherit;
    width: 310px;
    height: 110px;
    background: linear-gradient(#ff4b33, #ff4b4b, #ff5a30);
    border: none;
    border-radius: 15px;
    color: #ffbbb6;
    text-shadow: 0 0 20px #ffb28e;
    transition: all 0.3s ease;
}

.qbutton:active span {
    background-image: linear-gradient(#ffe6e3, #ff6161);
    text-shadow: 0 0 20px #ff6161;
}

.qbutton.finale:active {
    scale: 1.03;
    background: linear-gradient(#300000, #270000, #8f0000);
    border: none;
    border-radius: 15px;
    color: #f11000;
    text-shadow: 0 0 20px #ff0000;
    transition: all 0.3s ease;
}

.qbutton.finale:active span {
    background-image: linear-gradient(#920a00, #ff0000);
    text-shadow: 0 0 15px red;
}

.container {
    transition: all 0.3s ease;
}

.container.fly {
    animation: contfly 1s ease forwards;
    pointer-events: none;
}

.container.finalefly {
    animation: finalefly 1s ease-out forwards;
    pointer-events: none;
}

@keyframes finalefly {
    10% {
        transform-origin: top left;
        transform: rotate(5deg);
    }

    100% {
        transform-origin: top left;
        transform: rotate(360deg) translateY(500px) scale(0);
        opacity: 0;
    }
}

.container.end {
    animation: contend 0.2s ease forwards;
    pointer-events: none;
}

@keyframes contend {
    100% {
        scale: 2;
        translate: 0 200px;
        opacity: 0;
    }
}

@keyframes contfly {
    100% {
        rotate: 360deg;
        scale: 0;
        opacity: 0;
    }
}

.container.hidden {
    opacity: 0;
    pointer-events: none;
}

.qring {
    position: fixed;
    top: 0;
    left: 0;
    width: 115px;
    height: 110px;
    margin: 20px;
    background-image: url("/imgs/qring.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qring.fly {
    animation: qringfly 0.35s ease forwards;
}

@keyframes qringfly {
    100% {
        left: -30%;
        scale: 0;
        rotate: 360deg;
    }
}

.qring.grabby {
    cursor: url("/imgs/grabby.png"), auto;
}

.qring.finale {
    box-shadow: inset 0 0 0 6px #750000, 0 0 20px #7a0000;
    border-radius: 20px;
    background-image: none;
    corner-shape: scoop;
    background: radial-gradient(ellipse, #75000088, #270000b0);
    transition: all 1s ease;
}

.qring.finale.onCorrectAns {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
    z-index: 9999;
    margin: 0;
    box-shadow: inset 0 0 0 6px #a10000, 0 0 20px #7a0000;
}

.qring.finale.clank {
    animation: qringClank 0.3s ease-out;
}

@keyframes qringClank {
    50% {
        transform: translate(-50%, -50%) scale(1.7);
    }

    70% {
        transform: translate(-50%, -50%) scale(2.2);
    }

    100% {
        transform: translate(-50%, -50%) scale(2.0);
    }
}

.qring.finale>.qnumber {
    background-color: #ff7839;
    background-image: linear-gradient(#ff5555, #ff0000);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 20px #ff0000bb;
    animation: qnumberpulse 0.5s ease infinite alternate;
}

@keyframes qnumberpulse {
    100% {
        scale: 1.25;
        text-shadow: 0 0 10px #ff0000;
    }
}

.qring.miku:hover {
    filter: hue-rotate(180deg);
    cursor: url("/imgs/grabby.png"), auto;
}

.questionarea {
    position: fixed;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: bold;
    color: #ff7839;
    width: 100%;
    text-align: center;
}

.questionarea>h1 {
    background-color: #ff7839;
    background-image: linear-gradient(#ff654a, #ff915e);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 20px #ff854d6c;
}

.questionarea.finale>h1 {
    background-color: #ff7839;
    background-image: linear-gradient(#a72323, #7c0000);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 20px #7200006c;
}

.gradienttext {
    background-color: #ff7839;
    background-image: linear-gradient(#ff654a, #ff915e);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 20px #ff854d6c;
}

.questionarea h1.shine {
    background-color: #ff7839;
    background-image: linear-gradient(#ff5e00, #ffc355);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 20px #ffef08e3;
}

p {
    margin: 1px;
}

.qnumber {
    color: #FF8A5E;
    font-size: 55px;
    font-weight: bold;
    translate: -2px;
}

.qnumber.flipped {
    rotate: 90deg;
    translate: -2px 5px;
    font-size: 70px;
}

.gameoverscreen {
    position: fixed;
    inset: 0;
    background: radial-gradient(#2e0000, black);
    z-index: 999;
    scale: 0;
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 70px;
}

.gameoverscreen.active {
    scale: 1;
    opacity: 1;
    pointer-events: all;
}

.gameoverimg {
    width: 500px;
    height: 240px;
    filter: drop-shadow(0 0 60px #ac000093);
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gameoverbutton {
    background-image: url("/imgs/gameoverbuttonbg.png");
    background-color: transparent;
    border: none;
    color: white;
    background-size: 250px 75px;
    background-repeat: no-repeat;
    width: 250px;
    height: 75px;
    font-size: 35px;
    font-family: inherit;
    color: #ff7c7c;
    filter: drop-shadow(0 0 20px #7a0000);
    transition: all 0.3s ease;
}

#gameoverbuttonsrow {
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1002;
}

.gameoverbutton:hover {
    filter: brightness(80%) drop-shadow(0 0 20px #7a0000);
}

.gameoverbutton:active {
    filter: brightness(100%) drop-shadow(0 0 20px #7a0000);
    scale: 1.02;
}

.popup>h1 {
    font-size: 45px;
    margin: 0px;
    background-color: #ff7839;
    background-image: linear-gradient(#ff4929, #ff653f);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 20px #ff684dce;
}

.popup.darkmode>h1 {
    font-size: 45px;
    margin: 0px;
    background-color: #505050;
    background-image: linear-gradient(#999999, #424242);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 20px #aaaaaace;
}

.popup.closing {
    animation: popupclose 0.5s ease forwards;
}

.lfeffect {
    color: black;
    font-size: 48px;
    transform: translateY(-50%);
    animation: lifefly 0.8s ease-out forwards;
}

@keyframes lifefly {
    100% {
        transform: translateY(-300px) rotate(360deg);
        opacity: 0;
    }
}

.popup::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url("/imgs/qbuttonbg.png");
    z-index: -1;
    animation: bgpan 30s linear infinite alternate;
    border-radius: 30px;
}

.popupoverlay {
    position: fixed;
    inset: 0;
    background: radial-gradient(#00000079, #0000009a);
    z-index: 998;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.popupoverlay.active {
    opacity: 1;
    pointer-events: all;
}

.popupbutton {
    margin-top: 15px;
    font-family: inherit;
    font-size: 25px;
    background: linear-gradient(#ff4929, #ff3c19);
    border: 4px solid #ff6d41;
    border-radius: 5px;
    color: #ffc6af;
    padding: 0.5rem;
    transition: all 0.3s ease;
    box-shadow: 0 0 20px #ff6d41;
    padding-inline: 1rem;
}

.popupbutton.darkmode {
    background: linear-gradient(#555555, #303030);
    border: 4px solid #1d1d1d;
    box-shadow: 0 0 20px #00000098;
    color: #8a8a8a;
    cursor: url("/imgs/cvariants/grabby_mtl.png"), auto;
}

@keyframes qtextmoveup {
    100% {
        translate: 0 -300px;
    }
}

.popupbutton:hover {
    background: linear-gradient(#ff4719, #ff7f58);
    border-color: #ff4f1a;
    scale: 0.98;
    box-shadow: 0 0 20px #ff4f1a;
}

.popupbutton.darkmode:hover {
    background: linear-gradient(#1d1d1d, #292929);
    border-color: #303030;
    scale: 0.95;
    box-shadow: 0 0 20px #222222;
}

.popupbutton:active {
    background: linear-gradient(#ff886a, #ffb29b);
    border-color: #ff4f1a;
    color: #ff4719;
    scale: 1.03;
    box-shadow: 0 0 20px #ff4f1a;
}

.popupbutton.darkmode:active {
    background: linear-gradient(#b8b8b8, #797979);
    border-color: #1f1f1f;
    scale: 1.05;
    box-shadow: 0 0 20px #4b4b4b;
    color: #161616;
}

.popup h3 {
    text-align: center;
    font-size: 30px;
    margin: 0;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.popup {
    width: fit-content;
    height: fit-content;
    padding-inline: 2.2rem;
    padding-block: 1.5rem;
    background: radial-gradient(#ff9f8e, #ff9b7d);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: popupappear 0.4s ease forwards;
    z-index: 999;
    border: 4px solid #ff6d41;
    box-shadow: 0 0 20px #ff6c40;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    color: #ff6955;
    text-shadow: 0 0 20px #ff6955;
    corner-shape: squircle;
}

.popup.darkmode {
    background: radial-gradient(#464646, #313131);
    border: 4px solid #1d1d1d;
    box-shadow: 0 0 60px #3d3d3d8f;
}

.popup.darkmode::before {
    filter: grayscale(100%) brightness(20%);
    border: 4px solid #383838;
    box-shadow: 0 0 20px #4e4e4e;
    opacity: 0.2;
    border-radius: 0px;
}

@keyframes popupappear {
    50% {
        transform: translate(-50%, -50%) scale(1.05);
        top: 50%;
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        top: 50%;
    }
}

@keyframes popupclose {
    0% {
        transform: translate(-50%, -50%) scale(1) rotate(0deg);
        top: 50%;
    }

    100% {
        transform: translate(-50%, -50%) scale(1) rotate(360deg);
        top: 50%;
        left: 120%;
        opacity: 0;
    }
}

@keyframes logoappear {
    50% {
        transform: translate(-50%, -50%) scale(1.1, 1) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes logoidle {
    0% {
        filter: drop-shadow(0 0 50px #ff7e4b);
    }

    30% {
        filter: drop-shadow(0 0 50px #ffab4b);
    }

    60% {
        filter: drop-shadow(0 0 50px #ffc06d);
    }

    100% {
        filter: drop-shadow(0 0 50px #ffc578);
    }
}

@keyframes alienboom {
    100% {
        transform: scale(2) rotate(360deg);
        opacity: 0;
    }
}

@keyframes boom {
    100% {
        transform: scale(4) rotate(360deg);
        opacity: 0;
    }
}

@keyframes dropbeginbtn {
    100% {
        transform: translateY(500%) scale(0) rotate(360deg);
        opacity: 0;
    }
}

@keyframes bgpan {
    100% {
        background-position: 100% 100%;
    }
}

@keyframes bgidle {
    100% {
        scale: 0.98;
    }
}

@keyframes scalebounce {
    50% {
        scale: 1.1;
    }

    70% {
        scale: 0.96
    }

    100% {
        scale: 1;
    }
}

@keyframes scalebouncetr {
    50% {
        transform: translate(-50%, -50%) scale(1.086);
    }

    70% {
        transform: translate(-50%, -50%) scale(0.96);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.testblock {
    width: 100px;
    height: 100px;
    background-color: red;
}

@keyframes flyingimage01 {
    100% {
        top: 50%;
        left: 120%;
        rotate: 360deg;
    }
}

@keyframes flyingimage02 {
    100% {
        top: 70%;
        left: 120%;
        rotate: 360deg;
    }
}

@keyframes flyingimage03 {
    100% {
        top: 35%;
        left: 120%;
        rotate: 360deg;
    }
}

.flyingimage {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
}

.flyingimage.pipsqueak {
    animation: flyingimage01 1.1s linear forwards;
    width: 72px;
    height: 64px;
}

.flyingimage.truffle {
    animation: flyingimage02 1.3s linear forwards;
    top: 70%;
    left: 0%;
    width: 72px;
    height: 64px;
}

.flyingimage.carrot {
    animation: flyingimage03 1s linear forwards;
    top: 35%;
    left: 0%;
    width: 72px;
    height: 90px;
}

.transitionoverlay {
    position: fixed;
    inset: 0;
    background: linear-gradient(#0e0e0e, #000000);
    /* opacity: 0; */
    transition: all 0.3s ease;
    z-index: 9999;
    pointer-events: none;
    opacity: 0;
}

.transitionoverlay.in,
.transitionoverlay.out {
    pointer-events: all;
}

.transitionoverlay.in {
    opacity: 1;
}

.transitionoverlay.out {
    opacity: 0;
}

.slider {
    width: 200px;
    height: 8px;
    background: linear-gradient(#696969, #797979);
    border-radius: 15px;
    box-shadow: 0 0 20px #696969;
    cursor: url("/imgs/cvariants/grabby_mtl.png"), auto;
    position: relative;
}

.sliderthumb {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sliderbutton {
    border: none;
    background: #69696938;
    box-shadow: 0 0 20px #69696938;
    border-radius: 10px;
    width: 48px;
    height: 48px;
    background-size: 48px 48px;
    cursor: url("/imgs/cvariants/grabby_mtl.png"), auto;
    color: #c0c0c0;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease;
}

.sliderbutton:hover {
    background: #69696960;
    box-shadow: 0 0 20px #69696962;
}

.sliderbutton:active {
    background: #8d8d8d60;
    box-shadow: 0 0 20px #96969662;
    scale: 1.05;
}

.row.mcrow h1 {
    color: #9b9b9b;
    font-size: 40px;
}

.checkbox,
.checkbox[checked="false"] {
    width: 48px;
    height: 48px;
    background: #69696938;
    box-shadow: 0 0 20px #69696938;
    border-radius: 10px;
    cursor: url("/imgs/cvariants/grabby_mtl.png"), auto;
    transition: all 0.3s ease;
}

.checkbox:hover {
    background: #91919138;
    box-shadow: 0 0 20px #8f8f8f38;
    scale: 1.05;
}

.checkbox[checked="true"] {
    position: relative;
    background: #e0e0e038;
    box-shadow: 0 0 20px #d6d6d638;
}

.checkbox[checked="true"]::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 6px;
    background: #b4b4b4;
    top: 53%;
    left: 18%;
    rotate: 45deg;
}

.checkbox[checked="true"]::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 6px;
    background: #b4b4b4;
    top: 42%;
    left: 31%;
    rotate: 120deg;
}

.checkbox[checked="true"]::after,
.checkbox[checked="true"]::before {
    border-radius: 60px;
}

.secondarymenu {
    display: none;
}

.secondarymenu.active {
    display: block;
}

.smenucolumn {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    left: 25%;
    top: 50%;
    height: 600px;
    width: max-content;
    transform: translate(-50%, -50%);
    animation: smenucolumnappear 0.7s ease forwards;
}

.smenucolumn.retract {
    animation: smenucolumnret 0.7s ease forwards;
}

@keyframes smenucolumnappear {
    0% {
        left: -20%;
    }

    50% {
        left: 28%;
    }

    100% {
        left: 25%;
    }
}

@keyframes smenucolumnret {
    100% {
        left: -20%;
    }
}

.qotdcont {
    position: fixed;
    transform: translate(-50%, -50%);
    left: 72%;
    top: 50%;
    width: 400px;
    height: 500px;
    background-image: url("/imgs/QOTDbg.png");
    background-size: 400px 500px;
    transition: opacity 0.35s ease;
    opacity: 0;
    filter: drop-shadow(0 0 20px #ff6145);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.qotdcont h1 {
    margin: 0;
    font-size: 40px;
    background-color: #ff7839;
    background-image: linear-gradient(#ffcbc0, #ffb2a4);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 20px #ffaf98de;
}

.statspage {
    display: grid;
    gap: 10px;
    width: fit-content;
    height: 100px;
    padding-bottom: 15px;
    margin: 20px;
}

.stat {
    background-image: linear-gradient(#ff4723, #ff8f45);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 20px #ffa42c;
    font-size: 36px;
}

.statspage h1 {
    margin: 1px;
}

.statrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 200px;
    height: 100px;
}

.statrow h1 {
    margin: 2px;
}

.statrow .num {
    font-size: 50px;
    background-color: #ff7839;
    background-image: linear-gradient(#ff9b87, #ff6145);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 20px #ff7149de;
}

.debugcol {
    position: fixed;
    top: 0;
    right: 0;
    margin: 5px;
    color: red;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.debugcol>* {
    margin: 0;
}

.settingspage {
    pointer-events: none;
    display: none;
}

.settingspage.active {
    pointer-events: all;
    display: flex;
}

.settingspage>button {
    cursor: url("/imgs/cvariants/grabby_mtl.png"), auto;
}

.settingspagebackbtn {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-image: url("/imgs/settings/back.gif");
    margin: 15px;
    filter: drop-shadow(0 0 20px #00000073) brightness(60%);
    transition: all 0.3s ease;
    cursor: url("/imgs/cvariants/grabby_mtl.png"), auto;
}

.settingspagebackbtn:hover {
    scale: 1.1 1;
}

.settingspagebackbtn:active {
    scale: 0.95;
    filter: drop-shadow(0 0 20px #000000c2) brightness(30%);
}

.settingspagetitle {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 60px;
    background-image: linear-gradient(#757575, #131313);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 20px #383838be;
    margin: 13px 0 0 0;
}

.settingspagecont {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("/imgs/settingspagecontbg.png");
    width: 700px;
    height: 450px;
    background-size: 700px 450px;
    filter: brightness(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    filter: drop-shadow(0 0 20px #0000007c);
}

.settingrow:nth-child(1) {
    margin-top: 50px;
}

.settingrow {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.settingrow>h1 {
    font-size: 45px;
    background-image: linear-gradient(#868686, #353535);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 30px #dadada52;
    margin: 13px 0 0 0;
}

.settingbutton {
    width: 90px;
    height: 72px;
    font-family: "gamefont";
    font-size: 30px;
    border: none;
    background: linear-gradient(#5c5c5c4b, #0f0f0f79);
    color: #6e6e6e;
    border-radius: 10px;
    corner-shape: bevel;
    text-shadow: 0 0 20px #b8b8b86c;
    box-shadow: 0 0 20px #2020208f, inset 0 0 0 6px #22222238;
    transition: all 0.3s ease;
}

.settingbutton:hover {
    border-radius: 15px;
    scale: 1.1;
    filter: brightness(80%);
    color: #b9b9b9;
}

.settingbutton:active {
    border-radius: 8px;
    scale: 0.98;
    filter: brightness(70%);
    translate: 0 5px;
}

.settingbutton.fit {
    width: fit-content;
    height: fit-content;
    padding: 1.1rem;
}

.aboutpage {
    width: 400px;
    height: 200px;
    color: #868686a4;
    text-shadow: 0 0 20px #7e7e7e44;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 32px;
    font-weight: bolder;
}

.aboutstat {
    background-image: linear-gradient(#adadad, #5e5e5e);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 20px #d4d4d460;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 32px;
}

.cacheclearedpage {
    width: fit-content;
    height: fit-content;
    width: 450px;
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    background-image: linear-gradient(#acacacec, #6e6e6e79);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 20px #d4d4d460;
}

.cacheclearedpage02 {
    width: fit-content;
    height: fit-content;
    padding: 1.2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    font-weight: bold;
    background-image: linear-gradient(#acacacec, #6e6e6e79);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 20px #d4d4d460;
}

.finalphaseintroductionoverlay {
    position: fixed;
    inset: 0;
    background-color: black;
    pointer-events: none;
    opacity: 0;
    z-index: -999;
    cursor: none;
}

.finalphaseintroductionoverlay.active {
    opacity: 1;
    z-index: 999;
    pointer-events: all;
}

.finalphaseintroductionoverlay.pulse {
    animation: overlaypulse 1s ease alternate infinite;
}

.finalphaseintroductionoverlay.drop {
    animation: thingfly 0.5s ease forwards;
}

@keyframes thingfly {
    100% {
        translate: 0 500px;
        scale: 0;
        rotate: 360deg;
    }
}

@keyframes overlaypulse {
    100% {
        background-color: #1f0900;
    }
}

.finalphaseintroductionoverlay .truffle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 188px;
    height: 148px;
    background-image: url("/imgs/truffle01.png");
    background-size: 188px 148px;
    filter: saturate(1000%);
    opacity: 0;
    cursor: none;
}

.finalphaseintroductionoverlay .truffle.active {
    opacity: 1;
}

.truffle.prepare {
    animation: truffleExplode 0.5s linear forwards;
}

@keyframes truffleExplode {
    0% {
        transform: translate(-50%, -50%) scaleX(3);
    }

    100% {
        transform: translate(-50%, -50%) scale(15) rotate(360deg);
        opacity: 0;
    }
}

.finalerock {
    position: absolute;
    top: -15%;
    left: 50%;
    width: 64px;
    height: 64px;
    background-image: url("/imgs/q73/rock.gif");
    background-size: 64px;
    background-repeat: no-repeat;
    rotate: 45deg;
    animation: q73rockmove 0.5s linear forwards;
    opacity: 0.5;
    pointer-events: none;
    z-index: -1;
}

.qringfinaleoverlay {
    position: fixed;
    inset: 0;
    background: radial-gradient(ellipse, #1a0000, #2b0000);
    opacity: 0;
    pointer-events: none;
    z-index: -999;
    transition: opacity 0.3s ease;
}

.qringfinaleoverlay.active {
    opacity: 1;
    pointer-events: all;
    z-index: 999;
}

.bottomrightrow {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 200px;
    height: fit-content;
    margin-bottom: 12px;
    z-index: 2;
}

.carrotslot {
    width: 36px;
    height: 48px;
    background-image: url("/imgs/powerups/carrot_slot_empty.png");
    background-size: 36px 48px;
    filter: drop-shadow(0 0 20px #ff7b469c);
    animation: carrotslotidle 1s ease infinite alternate;
    cursor: url("/imgs/grabby.png"), auto;
    transition: all 0.3s ease, filter 0s ease, background-image 0s ease;
}

@keyframes carrotslotnope {
    0% {
        rotate: 5deg;
        scale: 1.3 0.5;
    }

    50% {
        rotate: 3deg;
        scale: 0.8 1.3;
    }

    100% {
        scale: 1 1;
        rotate: 0deg;
    }
}

.carrotslot.active {
    background-image: url("/imgs/powerups/carrot_slot.png");
    animation: activecarrotslotidle 1s ease infinite alternate;
}

.carrotslot.allwhitepop {
    background-image: url("/imgs/powerups/carrot_slot_white.png");
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #ffffff52);
}

.carrotslot.allwhite {
    background-image: url("/imgs/powerups/carrot_slot_white_empty.png");
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #ffffff52);
}

.carrotslot:hover {
    scale: 1.1;
    filter: drop-shadow(0 0 20px #ff7a46) saturate(120%);
}

.carrotslot.nope {
    animation: carrotslotnope 0.3s ease alternate;
}

@keyframes activecarrotslotidle {
    100% {
        scale: 1.15;
    }
}

@keyframes carrotslotidle {
    100% {
        scale: 1 1.15;
    }
}

.carrot {
    position: fixed;
    width: 48px;
    height: 48px;
    background-image: url("/imgs/powerups/carrot.png");
    background-size: 48px 48px;
    animation: carrotAppear 1s ease-out forwards;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    z-index: 9999;
}

.carrot.active {
    background-image: url("/imgs/powerups/carrot_active.png");
}

.carrot.finalplace {
    animation: carrotFinalPlace 0.8s ease forwards;
    transform: translate(-50%, -50%) scale(4, 5);
    opacity: 1;
}

.carrotgetoverlay {
    position: fixed;
    inset: 0;
    background: linear-gradient(#2c110093, #d65200a9);
    z-index: -9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.carrotgetoverlay.active {
    opacity: 1;
    z-index: 9999;
    pointer-events: all;
}

.carrotgetoverlay::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url("/imgs/carrotgetbg.png");
    opacity: 0.1;
    animation: bgpan 16s linear infinite alternate;
}

@keyframes carrotFinalPlace {
    100% {
        translate: 250px 250px;
        rotate: 360deg;
        scale: 0.0;
        opacity: 0;
    }
}

@keyframes carrotAppear {
    10% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%) scale(4, 5);
        opacity: 1;
        top: 50%;
        left: 50%;
        rotate: 360deg;
    }
}

.cantusecarrot {
    font-weight: bolder;
    font-size: 29px;
    text-align: center;
}

.endOverlay {
    position: fixed;
    inset: 0;
    background: radial-gradient(ellipse, #ff682d, #ffab4b);
    z-index: 999;
    scale: 0;
    opacity: 0;
    transition: all 0.5s ease;
    border-radius: 0;
    cursor: none;
}

@property --gradientrot {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

.endOverlay::before {
    position: fixed;
    inset: 0;
    --col: #ff352791;
    background: repeating-conic-gradient(from var(--gradientrot) at 50% 50%,
            var(--col) 0deg 15deg,
            #00000000 15deg 30deg);
    content: "";
}

@keyframes gradientrotanim {
    100% {
        --gradientrot: 360deg;
    }
}

.endOverlay.active {
    scale: 1;
    opacity: 1;
}

.endOverlay.active::before {
    animation: gradientrotanim 5s linear infinite;
}

.endtruffle {
    position: fixed;
    top: 130%;
    left: 50%;
    background-image: url("/imgs/ending/winner.png");
    width: 380px;
    height: 280px;
    background-size: 380px 280px;
    transform: translate(-50%, -50%) scaleY(0.5);
    transform-origin: bottom center;
    opacity: 0;
    transition: all 0.5s linear;
}

.endOverlay.active .endtruffle {
    animation: endtruffleappear 0.8s ease forwards 0.8s;
    filter: drop-shadow(0 20px 60px #ff9100ad);
}

.endOverlay.active .winnertext {
    animation: winnertextappear 0.8s ease forwards 0.4s;
    filter: drop-shadow(0 0 60px #ff9900c2);
}

.winnertext {
    position: fixed;
    translate: -50% -50%;
    top: -20%;
    left: 50%;
    width: 580px;
    height: 110px;
    background-image: url("/imgs/ending/winnerText.png");
    background-size: 580px 110px;
    scale: 1 0.5;
    opacity: 0;
    transition: all 0.5s linear;
}

@keyframes winnertextappear {
    100% {
        scale: 1 1;
        top: 18%;
        opacity: 1;
    }
}

@keyframes endtruffleappear {
    100% {
        transform: translate(-50%, -50%) scaleY(1);
        top: 60%;
        opacity: 1;
    }
}

.gone {
    left: -35%;
    scale: 0;
    rotate: 360deg;
    opacity: 0;
}

.finalstats {
    position: fixed;
    transform: translate(-50%, -50%) scaleX(0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -20%;
    left: 50%;
    width: 100%;
    height: 50%;
    opacity: 0;
    transition: all 0.5s ease;
}

.finalstats.active {
    animation: finalstatspageappear 0.5s ease forwards;
}

.finalstats.pagegone {
    transform: translate(-50%, -50%) scale(1.2) rotate(360deg);
    left: -40%;
    opacity: 0;
}

@keyframes finalstatspageappear {
    100% {
        top: 50%;
        transform: translate(-50%, -50%) scaleX(1);
        opacity: 1;
    }
}

.finalstatspagetitle {
    background-color: #ff7839;
    background-image: linear-gradient(#4a9eff, #3b5fff);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 30px #6e4dffd8;
    font-size: 60px;
    -webkit-text-stroke: 1px #0051ff41;
    animation: finalstatspagetitleidle ease-in-out infinite 0.5s alternate;
    margin: 0;
}

@keyframes finalstatspagetitleidle {
    0% {
        rotate: -2deg;
    }

    100% {
        rotate: 2deg;
    }
}

.finalstat {
    font-size: 80px;
    background-image: linear-gradient(#ff8c21, #ffeb3a);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 30px #ffdf27;
    -webkit-text-stroke: 1px #fff350ad;
    animation: finalstatidle 0.7s ease-in-out infinite alternate;
    display: inline-block;
}

@keyframes finalstatidle {
    100% {
        scale: 1.2;
        rotate: -5deg;
    }
}

.finalstatlabel {
    font-size: 55px;
    margin: 5px;
    background-color: #ff7839;
    background-image: linear-gradient(#ac9dff, #b0afff);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 30px #9a4dffd8;
    -webkit-text-stroke: 1px #0026ff41;
    margin: 0;
}

.endingcarrot {
    width: 350px;
    height: 251px;
    background-image: url("/imgs/ending/carrot.png");
    position: fixed;
    background-size: 350px 251px;
    filter: drop-shadow(0 0 60px #ff3c009a) sepia(0.2);
    transform: translate(-50%, -50%) scale(0);
    top: 130%;
    left: 50%;
    opacity: 0;
}

.endingcarrot.active {
    animation: endingcarrotappear 0.5s ease forwards;
}

@keyframes endingcarrotappear {
    100% {
        top: 57%;
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

.thanksforplaying {
    position: fixed;
    top: -20%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(0.8);
    opacity: 0;
    font-size: 70px;
    width: 100%;
    text-align: center;
    background-color: #ff7839;
    background-image: linear-gradient(#41c9ff, #31b3ff);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 30px #00c3ff8c;
    -webkit-text-stroke: 1px #0059ff7c;
}

.thanksforplaying.active {
    animation: tfptextappear 0.3s ease forwards;
}

@keyframes tfptextappear {
    100% {
        transform: translate(-50%, -50%) scaleX(1);
        opacity: 1;
        top: 10%;
    }
}

.endtransitionoverlay {
    position: fixed;
    inset: 0;
    background: black;
    z-index: -9999;
    pointer-events: none;
    opacity: 0;
    transition: all 0.4s ease;
    cursor: none;
}

.endtransitionoverlay.active {
    opacity: 1;
    z-index: 9999;
    opacity: 1;
    pointer-events: all;
}

.postcreditsscene {
    position: fixed;
    z-index: -999;
    inset: 0;
    background-image: url("/imgs/q81/bg.png");
    background-size: 850px 600px;
    display: none;
    pointer-events: none;
    cursor: none;
}

.postcreditsscene.active {
    display: block;
    pointer-events: all;
    z-index: 999;
}

.pcsherbert {
    position: fixed;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140px;
    height: 140px;
    background-image: url("/imgs/ending/pcs/herbert.png");
    background-size: 140px 140px;
    z-index: 1000;
    transform-origin: bottom center;
}

.pcsherbert.talking {
    background-image: url("/imgs/ending/pcs/herbert_talking.png");
    animation: herbertTalking 0.3s ease-in-out infinite alternate;
}

.pcsherbert.scared {
    animation: herbertgetsKidnapped 0.7s linear forwards;
}

@keyframes herbertgetsKidnapped {
    100% {
        left: -20%;
    }
}

@keyframes herbertTalking {
    100% {
        transform: translate(-50%, -50%) scaleY(1.2);
    }
}

.pcsgirl {
    position: fixed;
    z-index: 1000;
    top: 40%;
    left: 120%;
    width: 150px;
    height: 180px;
    background-image: url("/imgs/q19/girl01.png");
    background-size: 150px 180px;
}

.pcsgirl.active {
    animation: pcsgirlrotate 2s linear forwards;
}

@keyframes pcsgirlrotate {
    100% {
        rotate: 360deg;
        left: -20%;
    }
}

.carrotEffect {
    position: fixed;
    top: 93%;
    left: 80%;
    width: 72px;
    height: 90px;
    z-index: 9999;
    background-image: url("/imgs/powerups/carrot_use.png");
    background-size: 72px 90px;
    animation: carrotEffectAnim 0.8s ease forwards;
    transform: translate(-50%, -50%) scale(0);
}

.carrotEffect.insane {
    background-image: url("/imgs/powerups/carrot_insane.gif");
    width: 120px;
    background-size: 120px 90px;
}

.carrotEffect.cgone {
    animation: carrotEffectGone 0.8s ease forwards;
}

@keyframes carrotEffectGone {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(2.8) rotate(-380deg);
    }

    100% {
        top: 120%;
        left: -20%;
        transform: translate(-50%, -50%) scale(0) rotate(360deg);
        opacity: 0;
    }
}

@keyframes carrotEffectAnim {
    100% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(2.8) rotate(-380deg);
    }
}

.carrotzap {
    position: fixed;
    transform-origin: center left;
    transform: translate(-50%, -50%) scaleX(0);
    width: 200px;
    height: 150px;
    background-image: url("/imgs/powerups/zap.gif");
    background-size: 200px 150px;
    top: 20%;
    left: 70%;
    opacity: 0.8;
    display: none;
    filter: drop-shadow(0 0 20px #a4e2ff);
    z-index: 1000;
}

@keyframes carrotzapappear {
    100% {
        transform: translate(-50%, -50%) scaleX(2);
    }
}

.carrotzap.active {
    display: block;
    animation: carrotzapappear 0.05s linear forwards;
}

.carrotattackoverlay {
    position: fixed;
    inset: 0;
    background-color: #00000057;
    z-index: 999;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease;
}

.carrotattackoverlay.active {
    opacity: 1;
    pointer-events: all;
}